@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;700&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-image: url("https://ktmmistic.nlenz.github.io/background.jpg");
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 18px;
    background-attachment: fixed;
 
    
}

#wrapper {
    width: 80%;
    margin: 0 auto;
    color: #000;
    background-color: #f5f5f5;
    border-radius: 5px;
}

.logo{
    background-image: url("https://ktmmistic.nlenz.github.io/blob/main/Nlenzphotography.gif");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 450px; 
    width: 500px;
    height: 50px;   
    margin: 0 0;
}

header {
    margin: 30px 0;
    padding-left: 0;
    padding-top: 40px;
    font-size: 24px;
    color: #6600CC;
    font-weight: bold;

}
nav {
    width: 70%;
    text-align: center;
    float: right;
    text-transform: uppercase;
    font-size: 18px;
}
/* nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
} */
nav ul li {
    display: inline-block;

}
nav ul li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    font-weight: 700;
}
nav a:hover {
    color: black;
}
nav a:visited {
    color: #6600CC;
}

nav a:active {
    color: #420082;
}

nav ul li {
    position: relative;
}
nav ul li ul {
    position: absolute;
    background-color: #f5f5f5;
    text-align: left;
    opacity: 80%;
    display: none;
    transition: .3s;
    padding-right: 1em;
}

nav ul li ul li a {
    display: block;
    background-color: #f5f5f5;
}

nav ul li:hover ul{
    display: block;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #6600CC;
    color: #f5f5f5;
}

.clearfix {
    clear: both;
}

.banner {
    background-image: url(../hsupra.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-bottom: 15px;
    width: 100%;
    height: 100%;
    /* margin-bottom: 10px; */

}
.bannertext{
    color: #000;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    font-size: 20px;
    margin: auto;
}
.bannerbox{
    background: rgba(255, 255, 255, 0.5);
    margin-left: 120px;
    margin-right: 120px;
    padding-bottom: 2px;
    margin-bottom: 10px;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #000;

}
/* .btn {
    border: 1px solid #fff;
    background-color: transparent;
    text-transform: uppercase;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    display: block;
    width: 150px;
    margin: 400px auto;
    border-radius: 30px;
    text-align: center;
} */
.btn {
    display: block;
    box-sizing: border-box;
    padding: 8px;
    width: 150px;
    max-width: 200px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    border: 1px solid #000;
    color:#f5f5f5;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.3s ease-out;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 20px; */ 
}
.btn:hover{
    background-color: #6600CC;
}

h1{
    font-size: 35px;
    color: #000;
    margin-bottom: 5px;
    text-decoration: none;
}
/* ^ homepage middle*/
/* HOMEPAGE TOP ENDS HERE */


footer {
    padding: 40px;
    background-color: #6600CC;
    color: #F5F5F5;
    text-align: center;
    position: relative;

}
footer a{
    color: #F5F5F5;
}

h2{ 
    text-align: center;
    font-size: 45px;
    color: #000;
    text-transform: uppercase;
    margin-top: 0;
    padding-top: 0;
    border-bottom: 6px solid #6600CC;
}
/* ^page header text */
.intro{
    text-align: left;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    text-decoration: none;
    color: #000;
    font-size: 20px;

}
.intro img{
    height: 30%;
    width: 30%;
    float: right;
    margin-left: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.introabout2 img{
    height: 25%;
    width: 25%;
    float: left;
    margin-right: 15px;
    margin-top: 35px;
    margin-left: 0;
    
}
.introsign{
    text-align: center;
    padding-right: 40px;
    text-decoration: none;
    color: #000;
    margin-top: 30px;
    font-size: 25px;
}
.introsign img{
    height: 8%;
    width: 8%;
    float: right;
    margin-right: 350px;
    padding-bottom: 50px;

}

.click{
    text-align: center;
    display: block;
    box-sizing: border-box;
    padding: 8px;
    width: 150px;
    max-width: 200px;
    /* background: #F5F5F5; */
    border-radius: 15px;
    border: 1px solid #000;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.3s ease-out;
    margin-left: auto;
    margin-right: auto;
}

.design{
    width: 44%;
    min-height: 300px;
    float: left;
    text-align: center;
    padding: 2em;
    margin: 1em;
    box-shadow: 0 10px 10px #9a9a9a9a;
    margin-left: 2.25em;
    color: #000;
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 30px;
    
    
}
.design img{
    width: 100%;
}

/* contact page form v */
input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 20px;
    resize: vertical
}

input[type=submit]{
    background-color: #6600CC;
    color: #F5F5F5;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}
input[type=submit]:hover{
    background-color: #420082;
}

.contactbackground{
    border-radius: 8px;
    background-color: #DFDFDF;
    padding: 20px;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;

}
table, th, td {
    border: 1px none;
    margin-left: 20%;
    margin-bottom: 30px;

  }
